/* Reset margins and paddings */
* {
  margin: 0px;
  padding: 0px;
}

/* Actual style */
:root {
  --mandarin: #f7cb62;
  --peel: #ffe6aa;
  --metal: #5f5f5f;
  --shadow: #00000035;
  --radius-style: 20px;
  --general-padding: 30px;
  --card-width: 306px;
  --card-height: 424px;
  --card-image-padding: 18px;
}

#Cabecera div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--general-padding) calc(var(--general-padding)*5);
  align-items: center;
}

#Titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Titulo * {
  padding: 5px;
}

#Cuerpo {
  padding: var(--general-padding);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

#Gallery img {
  width: var(--card-width);
  height: var(--card-height);
}

.Mikan {
  color: white;
  background-color: var(--mandarin);
}

.CardSleeve {
  background-color: var(--peel);
  color: var(--metal);
  font-weight: bold;
  border-radius: var(--radius-style);
  max-width: calc(var(--card-width) + var(--card-image-padding)*2);
  display: grid;
  place-content: center;
  text-align: center;
  gap: 5px;
  margin: 10px;
  padding-bottom: 15px;
}

.ImageSleeve {
  background-color: var(--mandarin);
  padding: var(--card-image-padding);
  border-radius: var(--radius-style);
  grid-column: 1 / span 3;
}

.CardName {
  grid-column: 1 / span 3;
}

.QuantityInfo {
  background-color: white;
  border-radius: 50%;
  width: fit-content;
  margin-left: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  justify-self: center;
}

.FoilEffect{
  opacity: 50%;
  position: absolute;
}

.PriceInfo {
  background-color: white;
  border-radius: 12% / 50%;
  width: fit-content;
  margin-right: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  grid-column: 2 / span 2;
  justify-self: center;
}

h1 {
  text-align: left;
  font-size: xx-large;
}

nav {
  text-align: right;
}

a {
  margin: 8px;
  padding: 10px;
  font-weight: bolder;
  font-size: large;
  color: white;
  border-radius: 15px;
  border: 3px solid var(--peel);
  text-decoration: none;
}

.EstasAqui {
  background-color: var(--peel);
}

h2 {
  background-color: var(--peel);
  color: var(--metal);
  padding: 15px;
  padding-left: var(--general-padding);
  box-shadow: 0px 5px 3px var(--shadow);
  width: initial;
  text-align: center;
}

button {
  /* TO-DO: Make the buttons more accesible on smaller screen sizes */
  color: var(--mandarin);
  text-shadow: var(--shadow) 0 5px 5px;
  background-color: white;
  font-size: 110px;
  border: none;
  text-align: center;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: auto;
}

footer {
  /* TO-DO: Make a footer that stays on the bottom part of the web and works correctly when there is scroll... */
  padding: var(--general-padding);
  font-size: xx-large;
  box-shadow: 0px -5px 3px var(--shadow);
  text-shadow: #00000075 0 0 8px;
}